.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

/* красная нижняя граница рамки - отображение некорректных данных */
/* popup__input - инпуты полей пользователя и новой карточки */
/* по умолчанию пустому полю присваивают псевдокласс :invalid: */
/* .popup__input:invalid {
  border-bottom: 1px solid #FF0000;
} */

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}

/* нижняя граница рамки становится красной всякий раз, 
когда введённые данные в инпут некорректны */
.form__input_type_error {
  border-bottom: 1px solid #FF0000;
}
 
/* для ошибки span-поля */
.form__input-error_active {
  font-size: 12px;
  color: #FF0000;
  min-height: 28px;
  display: block;
  width: 100%;
}
